<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/listarVagas.css">
    <title>Document</title>
</head>
<body>
    <h1>Lista de vagas</h1>
    <table id="vagas">
        <tr>
            <th>Nome da vaga</th>
            <th>Area</th>
            <th>Salario</th>
            <th>Modalidade</th>
        </tr>
        <tr>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            <td>Teste</td>
            
        </tr>
    </table>
</body>
</html>