<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=main, initial-scale=1.0">
    <link rel="stylesheet" href="styles/cadastroVaga.css">
    <title>Document</title>
</head>

<body>
    <div id="main-container">
        <div class="ilustration"><img src="/img/ilustracoes/register.svg" alt="" id="register-img"></div>
        <div class="main-content">
            <h1>Cadastro de vagas</h1>
            <form action="">
                <label for="name">Nome da vaga</label>
                <input type="text" id="name" name="name" required>

                <label for="name">Area</label>
                <input type="text" id="area" name="area" required>

                <label for="name">Salário</label>
                <input type="text" id="name" name="name" required>

                <label for="name">Modalidade</label>
                <select id="modalidade" name="modalidade">
                    <option value="Presencial">Presencial</option>
                    <option value="Home office">Home office</option>

                    <input type="submit" id="btn-submit" value="Registrar">
            </form>
        </div>
    </div>
</body>

</html>