<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cadastroCurriculo.css">
    <title>Cadastro Currriculo</title>
</head>

<body>
    <main>
        <div class="main-container">
            <div class="ilustration"><img src="/img/ilustracoes/undraw_online_cv_re_gn0a.svg" alt="" id="cv-image">
            </div>
            <div class="main-content">

                <h1>Cadastro Curriculo</h1>


                <div id="form-cv">
                    <form action="">
                        <label for="name">Nome</label>
                        <input type="text" id="name" name="name" required>

                        <label for="name">Data de nascimento</label>
                        <input type="text" id="area" name="area" required>

                        <label for="name">Telefone</label>
                        <input type="text" id="name" name="name" required>

                        <label for="name">Sexo</label>
                        <select id="sexo" name="sexo">

                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Não especificado">Não especificado</option>
                        </select>

                        <label for="name">Modalidade</label>
                        <select id="modalidade" name="modalidade">

                            <option value="Presencial">Presencial</option>
                            <option value="Home office">Home office</option>

                        </select>

                        <input type="submit" id="btn-submit" value="Registrar">
                    </form>


                </div>
            </div>
        </div>
    </main>
</body>

</html>