<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style.css" th:ref="@{/css/style.css"}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Site vagas</title>
</head>

<body>
    <header>
        <div class="menu-nav">
            <div class="left-items">
                <ul>
                    <li id="logo"> <a href="">Logo</a></li>
                    <li> <a href="#">Achar vagas</a></li>
                    <li><a href="#">Achar curriculos</a></li>
                </ul>

            </div>
            <div class="right-items">
                <ul>
                    <li> <a href="#">Central Ajuda</a></li>


                    

                    <li id="acessar-btn"> <a href="#">Acessar</a></li>

                </ul>
            </div>
        </div>
        </div>
    </header>

    <main>

        <div id="text-main">Encontre sua próxima contratação <span id="rapidamente">rapidamente.</span>
            <div class="button-main"><a href="/cadastroVaga"><button>Anunciar Vaga</button></a>
                <a href="#"> <button>Cadastrar Currículo</button></a>
            </div>
        </div>
        <div class="image-main"><img src="/images/ilustracoes/undraw_interview_re_e5jn" th:attr="src=@{/images/ilustracoes/undraw_interview_re_e5jn.svg},title=#{logo},alt=#{logo}" />>
        </div>

    </main>


</body>

</html>